@import '../../style/index.less';

@actionsheet-prefix-cls: ~'@{prefix-cls}-actionsheet';

.@{actionsheet-prefix-cls} {
  &-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: @z-index-mask;
    background-color: @bg-color-mask;
  }
  &-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: @z-index-mask+1;
    background-color: @bg-color-global;
  }
  &-list {
    margin: 0;
    padding: 0;
  }
  &-title {
    display: block;
    width: 100%;
    height: 38 * @hd;
    line-height: 38 * @hd;
    font-size: @font-size-base;
    color: @text-color-sec;
    text-align: center;
    background-color: @bg-color-card;
  }
  &-btn {
    display: block;
    width: 100%;
    height: 38 * @hd;
    line-height: 38 * @hd;
    font-size: @font-size-base;
    color: @text-color-base;
    text-align: center;
    margin-top: 10 * @hd;
    background-color: @bg-color-card;
  }
  &-item {
    &:first-child {
      border-top: @hd solid @line-color-light;
    }
    display: block;
    width: 100%;
    height: 38 * @hd;
    line-height: 38 * @hd;
    font-size: @font-size-base;
    color: @text-color-base;
    background-color: @bg-color-card;
    padding-left: 10 * @hd;
    border-bottom: @hd solid @line-color-light;
  }
}
