
// 全局主色（用于导航栏，按钮，需要强调的文字等）
@primary-color: #e93030;

// 全局主色（用于工具栏背景等）
@primary-bg: #252525;

// 链接色（用于链接文字、提示文字等）
@link-color: #4691ee;

// 成功色（用于股票涨跌等）
@success-color: #009900;

// 警告色（用于提示文字或图数据图表等）
@warning-color: #fea31e;

// 主文本色（标题、正文与重要内容等）
@text-color-base: #323232;

// 次文本色（二级标题、次要文字等）
@text-color-sec: #666;

// 辅助文本色（辅助文字或描述性文字等）
@text-color-ass: #999;

// 提示文本色（提示、说明等）
@text-color-tip: #ccc;

// 白色文字
@text-color-white: #fff;

// 深分割线
@line-color-deep: #cacaca;

// 主分割线
@line-color-base: #ddd;

// 浅分割线
@line-color-light: #eee;

// 卡片背景色（卡片、弹框）
@bg-color-card: #fff;

// 主背景色（全局）
@bg-color-global: #f5f5f5;

// 遮罩层背景色
@bg-color-mask: rgba(0, 0, 0, 0.6);
@z-index-mask: 999;

// button
@btn-size-base: 28px;
@btn-color-primary-active: #d12b2b;
@btn-color-disabled: #ccc;
@btn-text-color-disabled: rgba(255, 255, 255, 0.6);
@btn-color-info: #999;

// toast
@toast-color-bg: rgba(0, 0, 0, 0.75);
@toast-position-top: 38%;

