@import '../../style/common.less';

.numBtnWrap {
  border-radius: @border-radius-base;
  height: @btn-size-lg;
  line-height: @btn-size-lg;
  // text-align: center;
  background-color: #fff;
  border: @btn-bd-base;
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  font-family: @font-family-base;
  font-size: @font-size-base;
  outline: none;
  justify-content: center;
  text-align: justify;
  align-items: center;
}
.numBtnDisabled {
  opacity: 0.6;
  color: @btn-text-color-disabled;
}
.primaryNumBtn {
  border: 0;
  background-color: @primary-color;
  color: #fff;
}

.defaultNumBtn.numBtnActive {
  background-color: @btn-bg-active!important;
}
.primaryNumBtn.numBtnActive {
  opacity: 0.85;
}
.numBtnInline {
  display: inline-block;
  padding: 0 16px;
}
.numBtnSmall {
  height: @btn-size-sm;
  line-height: @btn-size-sm;
}
.numBtnIcon {
  margin-right: 8px;
}
.numBtnText {
}