@import '../../style/common.less';

.numToastWrap {
  .mask();
  padding-top: @pop-to-top;
  z-index: @z-index-mask;

  .numToast {
    display: inline-block;
    background-color: @bg-color-pop;
    padding: 10px;
    color: @text-color-white;
    border-radius: @border-radius-base;
    margin: 0 40px;
  }
  .numToastIcon {
    padding: 4px 6px;

    i {
      font-size: @font-size-base * 2;
    }
  }
  .numToastTxt {
    font-size: @font-size-base;
    font-family: @font-family-base;
  }
}